@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --primary-color: #124f89;
}

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
}

.links{
    font-size: 32px;    

}

.links a {
    color: #4da2c7;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
}

.links a + a {
    margin-left: 25px;
}

.links a:hover{
    color: var(--primary-color);
}

.links a.active{
    font-weight: bold;
    color: var(--primary-color);

}

.links a::after {
    content: "";
    background-color: var(--primary-color);
    width: 0;
    height: 2px;
    position: absolute;
    left: 0px;
    bottom: 0;
}

.links a:hover::after {
    width: 100%;
    transition: width 250ms ease-in-out 50ms;
}

/* card */

.card{
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    background-color: white;

    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

    
    animation-name: up;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;

    /* animation: up 400ms ease-in-out; */
    
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px) ;
    }

    to {
        opacity: 1;
    }
}

.info {
    padding: 32px;

}
.info .item{
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.info .item:last-child{
    border-bottom: none;
}
.info h3,
.info .item div:nth-child(1){
    color: #2f71af;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.7px;
    font-weight: normal;
    
}
.info .item div:nth-child(2){
    color: rgb(69, 69, 82);
    font-weight: bold;
    font-size: 18px;
}

.info h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.info .item div:nth-child(2) span{
    padding: 8px 16px;
    background-color: yellow;
    border-radius: 16px;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;


}

/* form teachers */

input, option {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"], a.button{
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

.grid-buttons{
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.grid-buttons a.button, .grid-buttons button[type="submit"]{
    width: 150px;
}

.grid-buttons button[type="submit"]{
    background-color: lightcoral;
}

/* table */

.table-container{
    display: block;
    
    box-sizing: border-box;
}
.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

th{
    text-transform: uppercase;
    color: #4da2c7;
    font-size: 14px;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child{
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    text-align: center;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

tbody tr td:last-child a {
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}
.table-container thead tr th,
tbody tr td{
    text-align: center;
}

tbody tr td:nth-child(2) span{
    padding: 8px 16px;
    background-color: yellow;
    border-radius: 16px;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}