    <!DOCTYPE html>
    <html>
    <head>

    

    {% block head %}
    <title> LT - Vinicius Castro Moreira</title>
    {% endblock%}
    <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
    <header>
        <div class="links">
            <a href="/teachers" class="active">Teachers</a>
            <a href="/students">Students</a>
        
        </div>
    </header>

    {% block content %}

    {% endblock %}

    </body>

    </html>