{% extends "layout.njk" %}

{% block head %}
<title>Erro 404 - not found</title>
{% endblock head %}

{% block content %}

<div class="erro">
    <H1>Erro 404</H1>
    <p>Page not found</p>
</div>

{% endblock %}